/* COMMON SHARED STYLES */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* NAV BAR STYLES */
nav {
  display: flex;
  /* vertically same height e ana */
  align-items: center;
  /* button ar name er majhe space diye duita dui side e pathano */
  justify-content: space-between;
  margin: 0 220px;
}

.title-portfolio {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 700;
}

.text-primary {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  /* vertical align */
  align-items: center;
}

nav li {
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px
}


/* HEADER STYLES */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
}

.banner .profile-picture{
    width: 500px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.banner-description{
    margin-bottom: 30px;
    
}

.banner-content{
    max-width: 500px;
}


/* MAIN SECTION STYLES */
main{
    /* original */
    /* max-width: 1140px; */
    max-width: 1220px;
    margin: 0 auto;
}

/* ABOUT SECTION STYLES */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
    /* extra modification */
    padding: 0px 5px;
}

.info-title{
    color:#757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}